.others-wrapper {
    width: 35%;
    background-color: aqua;
    border-radius: 30px;
    text-align: center;
    margin-top: 32px;
}

.other-contacts-list{
    list-style-type: none;
    text-align: justify;
}